<p-button (onClick)="showDialog()" label="Add user" />
<p-dialog 
    header="Header" 
    [(visible)]="visible" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
    [draggable]="false" 
    [resizable]="false">

    <div class="card flex justify-content-center">
        <p-card header="Simple Card" class="flex">
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="Username" />
            </p-inputGroup>
            <div>
                hello
            </div>
        </p-card>
    </div>
</p-dialog>