<p>table works!</p>
<div class="card">
    <p-table
        [value]="customer"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[3, 5, 10]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">Name</th>
                <th style="width:25%">Country</th>
                <th style="width:25%">Company</th>
                <th style="width:25%">Number of Workout</th>
                <th style="width:25%">Total workout minutes</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.id }}</td>
                <td>{{ getWorkoutTypes(customer.workouts) }}</td>
                <td>{{ customer.workouts.length }}</td>
                <td>{{ getTotalWorkoutMinutes(customer.workouts) }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>